<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/add_site.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    </head>
    <body>
        <div class="form">
            <form method="post" class="add_site">
                <div class="header">
                    <img src="{% static 'images/logo.png' %}" alt="Website Logo" class="logo_img">
                </div>
                <div class="info">
                    <h2>Add Site</h2>
                    <p>or <a href="{% url 'password_manager' username %}">cancel</a></p>
                </div>
                {% csrf_token %}
                <div class="form-data">
                    <i class="fa-solid fa-sitemap"></i>
                    {{ form.site }}
                </div>
                <div class="form-data">
                    <i class="fa-solid fa-link"></i>
                    {{ form.url }}
                </div>
                <div class="form-data">
                    <i class="fa fa-user"></i>
                    {{ form.username }}
                </div>
    
                <div class="form-data">
                    <i class="fa-regular fa-envelope"></i>
                    {{ form.email }}
                </div>
    
                <div class="form-data">
                    <i class="fa fa-lock"></i>
                    {{ form.password }}
                </div>
    
    
    
                {% csrf_token %}
                
                <button type="submit" class="rounded_button">Add Site</button>
                <button type="button" class="rounded_button" onclick="generatePassword(
                    '{{ length }}',
                    '{{ readable }}',   
                    '{{ uppercase }}',
                    '{{ lowercase }}',
                    '{{ numbers }}',
                    '{{ symbols }}',
                    '{{ separate }}',
                    '{{ words }}'
                )">Generate Password</button>
    
                <script>
                    const TEXT1_URL = "{% static 'images/text1.txt' %}";
                </script>
                <script src="{% static 'js/gen_pass.js' %}"></script>
            </form>
        </div> 
    </body>
    <script>
        document.getElementsByName("{{form.site.name}}")[0].setAttribute("Placeholder","Enter Site Name");
        document.getElementsByName("{{form.url.name}}")[0].setAttribute("Placeholder","Enter Site URL");
        document.getElementsByName("{{form.username.name}}")[0].setAttribute("Placeholder","Enter Username");
        document.getElementsByName("{{form.email.name}}")[0].setAttribute("Placeholder","Enter Email");
        document.getElementsByName("{{form.password.name}}")[0].setAttribute("Placeholder","Enter Password");
    </script>
</html>