<!DOCTYPE html>
<html>
    <head>
        <h1>Password Manager</h1>
        <h2>{{username}}</h2>
    </head>
    <body>
        {% if user_data %}
        {%for data in user_data %}
        <h2>{{data.site}}</h2>
            {% if data.email %}
            <li>{{data.email}}</li>
            {% endif %}
            {% if data.username %}
            <li>{{data.username}}</li>
            {% endif %}
            {% if data.password %}
            <li>{{data.password}}</li>
            {% endif %}
            <a href = "{% url 'edit_site' username data.id%}"><button type ='button'>Edit Site</button></a><br>
            
        {% endfor %}
        {% endif %}
        <br>
        <a href ="{% url 'add_site' username %}"><button type='button'>Add Site</button></a>
        <a href ="{% url 'logout' %}"><button type='button'>Logout</button></a>
        <a href = "{% url 'settings' username %}"> <button type='button'>Settings</button></a>
    </body>
</html>