[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-cryptography = "*"
django-encrypted-model-fields = "*"
pycryptodome = "*"
pillow = "*"
grab-favicon = "*"

[dev-packages]

[requires]
python_version = "3.11"
