<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href ="{% static 'css/create_style.css' %}">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img">
            </div>
        </header>
        <div class="form">
            <div class="create-user">
                <form method="post">
                    <h2 class="heading">Create User</h2>
                    {% csrf_token %}
                    {{form.errors}}
                    <div class="form-data">
                        <label for="id_username">Username:</label><br>
                        <input type = 'text' id = 'id_username' name ='username' required><br>
                    </div>
                    <div class="form-data">
                        <label for ='password1'>Password:</label><br>
                        <input type ='password' id = 'id_password1' name="password1" required><br>
                    </div>
                    <div class="form-data">
                        <label for ='password2'> Confirm:</label><br>
                        <input type ='password' id = 'id_password2' name="password2" required><br>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="rounded_button">Create User</button>
                    </div>
                </form>
            </div>

        </div>

    </body>
</html>