<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href ="{% static 'css/create_style.css' %}">
        <h1>S-Pass Password Manager</h1>
    </head>
    <body>
        <form method="post">
            <h2 class="heading">Create User</h2>
            {% csrf_token %}
            {{form.errors}}
            <label for="id_username">Username:</label><br>
            <input type = 'text' id = 'id_username' name ='username' required><br>
            
            <label for ='password1'>Password:</label><br>
            <input type ='password' id = 'id_password1' name="password1" required><br>
            
            <label for ='password2'> Confirm Password:</label><br>
            <input type ='password' id = 'id_password2' name="password2" required><br>
            
            <button type="submit" class="rounded_button">Create User</button>
        </form>
    </body>
</html>