<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/pin_style.css' %}">
    </head>
    <body>
        <header>
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img">
        </header>
        <div class="pin">
            <div class="pin-grid">
                <form method="post">
                    <h2 class="heading">Enter Decryption Pin</h2>
                    {% csrf_token %}
                    <div class="form-data">
                        <label>{{ form.pin.label_tag }}</label>
                        {{ form.pin }}<br><br>
                    </div>
                    <div class="form-data">
                        <label>{{form.confirm_pin.label_tag}}</label>
                        {{form.confirm_pin}}<br>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="rounded_button">Enter Pin</button>
                    </div>
                </form>
            </div>

        </div>
    </body>
</html>