@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Space+Mono&display=swap');

body{
    background: linear-gradient(to bottom, #33B8B6 0%, #E3EAE7 100%);
    height: 100vh;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.logo_img{
    height: 75px;
}

.form{
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns:  1fr 3fr 1fr;
    grid-template-rows: auto;
}

.login{
    display: flex;
    flex-direction: column;
    height: min-content;
    margin-top: 50px;
    max-height: 400px;
    grid-column: 2;
    background-color: #E3EAE7;
    padding: 25px;
    width: 30vw;
    min-width: 300px;
    border-radius: 15px;
    align-items: center;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    height: 25px;
    margin: 20px 0;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.login p{
    font-size: 16px;
    color: #38596C;
}

.login h2{
    font-size: 20px;
    color: #38596C;
}

.login .form-data{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    position: relative;
}

.form i{
    position: absolute;
    height: 100%;
    width: 30px;
    font-size: 20px;
    color: #E3EAE7;
    margin-right: 10px;
    padding-left: 2px;
    background-color: #38596C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.form input[type="text"],
.form input[type ='password']{
    text-indent: 35px;
    border-radius: 10px;
    border: 2px solid #38596C;
    padding: 5px 2px;
    flex: 2;
    height: 66%;
    font-size: 16px;
}

.form input[type="text"]:focus,
.form input[type ='password']:focus{
    outline: none;
    border: 2px solid #33B8B6;
}

.form input[type="text"]:focus + [class~="fa fa-user"]{
    background-color: #33B8B6;
}


.login .buttons{
    display: flex;
    justify-content: right;
}

.rounded_button{
    width: 70%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(8, 96, 80, 0.30);
    color: #38596C;
    font-size: 14px;
    font-weight: 550;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.25);
    
}

.rounded_button:hover, .rounded_button:focus{
    outline: none;
    background-color: #33B8B6
}

a.create_user_button {
    text-decoration: none; /* Remove the underline */
}

.create_user_button{
    display: flex;
    justify-content: center;
}
.error input{
    border-color: #db492f !important;
}
.error-message {
    color: #38596C;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}
input.error{
    border-color: #db492f;
}
@media screen and (max-width: 350px){
    *{
        box-sizing: border-box;
    }

    .login{
        min-width: 90vw;
        padding: 10%;
    }
    .login .form-data{
        width: 100%;
    }
    .logo{
        min-height: min-content;
        min-width: min-content;
    }
    .logo_img{
        height: 60;
        min-height: 20px;
        min-width: 50px;
    }
    .form-data input{
        width: 100%;
    }

}