
body{
    background: linear-gradient(to bottom, #33B8B6 0%, #E3EAE7 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.logo-img{
    height: 75px;
}

.form{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    
}
.pin-grid{
    display: flex;
    flex-direction: column;
    height: min-content;
    margin-top: 50px;
    max-height: 600px;
    grid-column: 2;
    background-color: #E3EAE7;
    padding: 25px;
    width: 30vw;
    min-width: 300px;
    border-radius: 15px;
    align-items: center;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    height: 25px;
    margin: 20px 0;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.pin-grid h2{
    font-size: 22px;
    color: #38596C;
}
.pin-grid .form-data{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    position: relative;
}

.form i{
    position: absolute;
    height: 100%;
    width: 30px;
    font-size: 16px;
    color: #E3EAE7;
    margin-right: 10px;
    padding-left: 2px;
    background-color: #38596C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2.heading{
    text-align: center;
    font-size: 24px;
    margin: 50px 0px;
}

.form-data{
    display: flex;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    width: 120px;
}

input {
    text-indent: 35px;
    border-radius: 10px;
    border: 2px solid #38596C;
    padding: 5px 2px;
    flex: 2;
    height: 66%;
    font-size: 16px;
}
input:focus{
    outline: none;
    border: 2px solid #33B8B6;
}


.rounded_button, .cancel_rounded_button{
    width: 70%;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(8, 96, 80, 0.30);
    color: #38596C;
    font-size: 14px;
    font-weight: 550;

    box-shadow: 0px 5px 8px rgba(0,0,0,0.25);
}
.rounded_button:hover, .rounded_button:focus{
    background-color: #33B8B6;
    outline: none;
}
.cancel_rounded_button:hover, .cancel_rounded_button:focus{
    color: #e3eae7;
    background-color: #db492f;
    outline: none;
}