.manager_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    background-color: #4eb1b0;
    top: 0;
    z-index: 1;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
    left: 0;
    right: 0;
    padding:  0px 10px;
}
.manager_bar .logo{
    max-height: 75px;
}
.header-button{
    min-width: 150px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #309EAC;
    padding: 10px 0px;
    color: #D9D9D9;
    transition: .1s ease;
}
.header-button:focus, .header-button:hover{
    outline: none;
    background-color: #33B8B6;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);

}


body{
    background-color: #E3EAE7;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
.content{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    overflow-y: auto;
    min-width: 500px;
    justify-content: center;
}
.user_data{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    height: 95vh;
    max-width: 200px;
    min-width: 200px;
    background-color: #08415C;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    position: sticky;
    top: 0;
    bottom: 0;
    overflow-y: visible;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.3);

}
.sidebar header{
    padding: 10px;
    text-align: center;
    font-size: large;
    color: #D9D9D9;
    text-decoration-line: underline;
    text-transform: capitalize;
    line-height: 20px;
    background-color: rgba(227,234,231,0.2);

    user-select: none;
}
.sidebar-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
}
.sidebar-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    width: 100%;
}

ul{
    list-style: none;
    width: 100%;
    text-align: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
ul a{
    text-decoration: none;
    color: #D9D9D9;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    transition: padding-left .2s ease-in;
    transition: box-shadow 0.1s ease-in;
    padding: 0 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
ul a:hover{
    padding-left: 40px;
    box-shadow: 0px 4px 4px rgba(2, 226, 255, 0.3);
    
}

.user_data_item{
    min-width: 225px;
    max-width: 500px;
    max-height: 200px;
    margin: 10px;
    padding: 25px;
    border: 0px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: #D9D9D9;
    
}
.item_icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.icon{
    width: 50px;
    height: 50px;
}

.data-button{
    position: absolute;
    width: 70px;
    top: 0;
    left: 70%;
    border-radius: 10px;
    border: 0px;
    background-color: #309EAC;
    padding: 10px 0px;
    color: rgba(227,234,231,1);

}
.data-button:hover, .data-button:focus{
    outline: none;
    background-color: #33B8B6;
    box-shadow: 2px 2px 8px rgba(2, 226, 255, 0.3);

}


.password {
    visibility: hidden;
    transition: visibility 0.3s ease-out 2s;

  }
  
.user_data_item:hover .password {
    visibility: visible;
    transition: visibility 0.3s ease-out 0s; 
}


.user_data_item span{
    color: #0f6698;
}

.user_data_item label{
    font-weight: bold;
    font-size: 16px;
    color:#0f6698;
}

.item_data{
    text-align: justify;
}
.user_data_item h2{
    text-transform: capitalize;
}
.user_data_item a{
    color: black;
    text-decoration: none;
}

.buttons{
    margin-top: 50px;
}
.buttons .rounded_button{
    max-width: 200px;
    min-width: 100px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #309EAC;
    padding: 20px 0px;
    color: #D9D9D9;

}

.rounded_button:hover, .rounded_button:focus{
    outline: none;
    background-color: #33B8B6;
    box-shadow: 2px 4px 10px rgba(2, 226, 255, 0.3);

}

@media (max-width: 800px) {

    *{
        box-sizing: border-box;
    }

    .manager_bar{
        width: 100vw;
        padding: 10px;
    }
    .manager_bar .logo{
        max-height: 50px;
    }
    nav{
        display: flex;
    }
    .content{
        min-height: 88vh;
        max-height: 88vh;
    }
    .header-button{
        min-width: 80px;
        max-width: 80px;
    }
    .container{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto;
        height: 100vh;
    }
    .sidebar{
        grid-row: 3;
        grid-column: 1;
        display: flex;
        position: sticky;
        height: 12vh;
        min-width: 100vw;
        flex-direction: row;
        align-self: flex-end;
        z-index: 2;
        align-items: center;
    }
    .sidebar header{
        display: none;
    }

    .sidebar-settings{
        display: none;
    }
    .sidebar-info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }
    .sidebar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-width: 100%;
        height: 100%;
        justify-self: center;
        align-items: flex-end;
    }
    .sidebar li{
        width: min-content;
        margin: 0 10px;
        border-radius: 10px;
        background-color: #309EAC;
        color: #E3EAE7;
        align-self: flex-end;
    }
    .sidebar a{
        border: none;
        padding: 0px 10px;
        display: flex;

    }
    ul a:hover{
        padding-left: 10px;
        
    }
    .buttons{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: sticky;
        bottom: 0;
        padding: 10px 0px;
        background-color: #E3EAE7;
        height: min-content;
        z-index: 1;
        margin-top:0px ;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.3);

    }
    .buttons .rounded_button{
        min-width: 60vw;
        margin: 10px 10px;
        border-radius: 10px;
        border: 0px;
        background-color: #309EAC;
        padding: 10px 0px;
        color: #D9D9D9;
        position: sticky;
        bottom: 0;
        z-index: 1;
        box-shadow:  0 0 4px rgba(0,0,0,0.3);
    
    }
    .content-container{
        min-width: 100vw;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .user_data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
        flex-wrap: nowrap;
        min-width: 100vw;
        max-width: 100vw;
    }
    .user_data_item {
        min-height: 200px;
        max-height: 70vh; 
        min-width: 70vw;
        max-width: 70vw;
      }
    .item_icon{
        min-height: 100px;
    }
    .icon{
        width: 90px;
        height: 90px;
    }
}
@media screen and (max-width: 350px) {
    .manager_bar {
        flex-wrap: wrap;
        height: min-content;
    }
    .logo{
        max-width: 90%;
    }
    .header-button{
        max-width: min-content;
        min-width: min-content;
    }
    nav{
        flex-wrap: wrap;

    }
    .sidebar{
        height: min-content;
        padding-bottom: 10px;
    }
    .sidebar-info{
        margin-top:10px;
        line-height: 30px;
    }
    .sidebar-info ul {
        flex-wrap: wrap;
    }
    .sidebar-info ul li {
        margin: 5px 0px;
        width: 100%;
    }
    .sidebar ul a{
        justify-content: center;

    }
}