.manager_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}
.manager_bar .logo{
    max-height: 75px;
}
.manager_bar .rounded_button{
    background-color: #309EAC;

}
body{
    background: rgb(51,184,182);
    background: linear-gradient(180deg, rgba(51,184,182,1) 0%, rgba(227,234,231,1) 26%);
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: column;
}
.user_data{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.sidebar{
    max-width: 200px;
    height: 100vh;
    background-color: #38596C;
}
.user_data_item{
    min-width: 225px;
    max-width: 500px;
    max-height: 200px;
    margin: 10px;
    padding: 25px;
    border: 0px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: #D9D9D9;
    
}

.password {
    visibility: hidden;
    transition: visibility 0.3s ease-out 2s;

  }
  
  .user_data_item:hover .password {
    visibility: visible;
    transition: visibility 0.3s ease-out 0s; 
  }

.user_data_item .rounded_button{
    width:50%;
    margin: 10px auto;
    border-radius: 10px;
    border: 0px;
    background-color: #309EAC;
    padding-top: 5px;
    padding-bottom: 5px;

}
.user_data_item .rounded_button:hover,
.user_data_item .rounded_button:focus{
    background-color: #E7A90B;
    outline: none;
}
.user_data_item span{
    color: #0f6698;
}

.user_data_item label{
    font-weight: bold;
    font-size: 16px;
    color:#0f6698;
}

.item_data{
    text-align: justify;
}
.user_data_item h2{
    text-transform: capitalize;
}
.user_data_item a{
    color: black;
    text-decoration: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}
.rounded_button{
    min-width: 150px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #309EAC;
    padding: 10px 0px;

}
.rounded_button:hover,.rounded_button:focus{
    background-color: #E7A90B;
    outline: none;
}

