
body{
    background: linear-gradient(to bottom, #33B8B6 0%, #E3EAE7 100%);

    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 20px;
}
header .logo-img{
    height: 75px;
}
.pin{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;

}
.pin-grid{
    grid-column: 2;
    display: grid;
    justify-content: center;
    background-color: #E3EAE7;
    border-radius: 15px;
    height: 350px;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2.heading{
    text-align: center;
    font-size: 24px;
    margin: 50px 0px;
}

.form-data{
    display: flex;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    width: 120px;
}

input {
    border-radius: 10px;
    border: 2px solid #38596C;;
    padding: 5px;
    height: min-content;
}

input:focus{
    outline: none;
    border: 2px solid #33B8B6;
}


.rounded_button, .cancel_rounded_button{
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(8, 96, 80, 0.30);
    color: #38596C;
    font-size: 14px;
    font-weight: 550;

    box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
}
.rounded_button:hover, .rounded_button:focus{
    background-color: #33B8B6;
    outline: none;
}
.cancel_rounded_button:hover, .cancel_rounded_button:focus{
    color: #e3eae7;
    background-color: #db492f;
    outline: none;
}